<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.uninorte.movilrubricaapp2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewCourse" />

        <meta-data
            android:name="DATABASE"
            android:value="proyecto2.db" />
        <meta-data
            android:name="VERSION"
            android:value="4" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="co.edu.uninorte.movilrubricaapp1" />

        <activity
            android:name=".RubricaCreacion"
            android:label="Crear Rubrica" />
        <activity
            android:name=".CategoriaCreacion"
            android:label="Crear Categoria" />
        <activity
            android:name=".ElementoCreacion"
            android:label="Crear Elemento" />
        <activity android:name=".EvaluacionEstudianteActivity" />
        <activity
            android:name=".EvaluacionCreacionActivity"
            android:label="Crear Evaluacion" />
        <activity android:name=".EstudiantesCalificacionActivity" />
        <activity android:name=".calificacionevaluacion"></activity>
    </application>

</manifest>